{% extends "_global/index.html" %}

{% block main %}
<!-- Naslov + dugmići za refreš i new -->
<h2>Zaposleni
    <a data-toggle="tooltip" title="Novi zaposleni" class="actionicons" href="javascript:void(0)" onclick="New();return false;"><i class="fas fa-plus-circle"></i></a>
    <a data-toggle="tooltip" title="Osveži listu" class="actionicons" href="javascript:void(0)" onclick="GetEmployees();return false;"><i class="fas fa-sync-alt"></i></a>
</h2><br>

<!-- Glavna tabela (spisak zaposlenih) -->
<div class="overflow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="textcenter">Aktivan</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Adresa</th>
                <th>Telefon</th>
                <th>e-mail</th>
                <th class="actions80">Akcije</th>
            </tr>
        </thead>
        <tbody id="employees_tbody">
            <!-- ovde se učitavaju redovi preko ajax-a -->
        </tbody>
    </table>
</div>


<!-- New/Edit Zaposlenog Dialog  -->
<div id="detailwindow" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="naslov" class="modal-title">Zaposleni</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">   
            <ul class="nav nav-tabs bottom10">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#podaci">Podaci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kartice">Kartice</a>
                </li>
            </ul>        
            <div class="tab-content">
                <!-- Tab podaci -->
                <div id="podaci" class="tab-pane fade show active">
                    <form id="podaciform">
                        <div class="form-group">                        
                            <small id="ForenameLabel" class="form-text text-muted">Ime</small>
                            <input type="text" maxlength="255" class="form-control" id="forename" aria-describedby="ForenameLabel">
                        </div>
                        <div class="form-group">
                            <small id="SurnameLabel" class="form-text text-muted">Prezime</small>
                            <input type="text" maxlength="255" class="form-control" id="surname" aria-describedby="SurnameLabel">
                        </div>
                        <div class="form-group">
                            <small id="AddressLabel" class="form-text text-muted">Adresa</small>
                            <input type="text" class="form-control" id="address" aria-describedby="AddressLabel">
                        </div>
                        <div class="form-group">
                            <small id="PhoneLabel" class="form-text text-muted">Telefon</small>
                            <input type="text" maxlength="64" pattern="[0-9]{3} [0-9]{3}-[0-9]{3,4}" placeholder="000 000-0000" class="form-control" id="phone" aria-describedby="PhoneLabel">
                        </div>
                        <div class="form-group">
                            <small id="EmailLabel" class="form-text text-muted">e-mail</small>
                            <input type="email" maxlength="255" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" id="email" aria-describedby="EmailLabel">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="is_active">
                            <label class="form-check-label" for="InputActive">Aktivan</label>
                        </div>
                    </form>
                </div>
                <!-- Tab Kartice -->
                <div id="kartice" class="tab-pane fade">
                    <small id="NewCardLabel" class="form-text text-muted">Nova kartica</small>
                    <div class="input-group mb-3">
                        <input type="text" maxlength="13" pattern="[0-9]{13}" class="form-control" id="NewCard" aria-describedby="NewCardLabel" autocomplete="off" placeholder="Barkod">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="AddCard();return false;"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Barkod</th>
                                <th class="actions50">Aktivna</th>
                                <th class="actions50">Brisanje</th>
                            </tr>
                        </thead>
                        <tbody id="cards_tbody">
                            <!-- ovde se učitavaju redovi preko ajax-a -->
                        </tbody>
                    </table>
                    <div id="status" class="alert alert-danger hidden" role="alert">                            
                    </div>
                </div>
            </div>        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            <button type="button" class="btn btn-primary" onclick="SnimiIzmene();return false;">Snimi izmene</button>
        </div>
        </div>
    </div>
</div>


<!-- Izveštaj  -->
<div id="infowindow" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="naslov2" class="modal-title">Zaposleni</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"> 
            <div class="container">
                <!-- Datumi od-do -->
                <div class="row bottom10">
                    <div class="col-sm">
                        <small id="OdLabel" class="form-text text-muted">Od</small>
                        <input type="text" id="datepickerOd" class="form-control" aria-describedby="OdLabel">
                    </div>
                    <div class="col-sm">
                        <small id="DoLabel" class="form-text text-muted">Do</small>
                        <input type="text" id="datepickerDo" class="form-control" aria-describedby="DoLabel">
                    </div>
                </div>
            </div>
            <!-- Po danima/stavkama -->
            <div class="form-group">
                <div class="form-check left20">
                    <input class="form-check-input" type="radio" name="statsRadios" id="statsPoDanima" value="true" checked>
                    <label class="form-check-label" for="statsPoDanima">
                        Pregled po danima
                    </label>
                </div>
                <div class="form-check left20">
                    <input class="form-check-input" type="radio" name="statsRadios" id="statsPoStavkama" value="true">
                    <label class="form-check-label" for="statsPoStavkama">
                        Pregled po prijavi-odjavi
                    </label>
                </div>
            </div>              
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Tabela sa podacima -->
                        <table id="stats_table" class="table table-hover statstable">
                            <thead id="stats_thead">                                
                                <!-- ovde se učitava header preko ajax-a -->
                            </thead>
                            <tbody id="stats_tbody">
                                <!-- ovde se učitavaju redovi preko ajax-a -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>          
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            <button type="button" class="btn btn-primary" onclick="GetOdDoStats();return false;">Prikaži vreme</button>
            <button type="button" class="btn btn-outline-primary" onclick="PrintOdDoStats();return false;">Štampanje</button>
        </div>
        </div>
    </div>
</div>




<script>

//jQueryUI dialog close icon
const bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
$.fn.bootstrapBtn = bootstrapButton 

//globals
let employee = {};
let cards = {};


//on page load
$(function() {        
    //menu item select
    $('#navbars li').removeClass('active');
    $('#navadmin').addClass('active');

    //load data
    GetEmployees();

    //datepickers
    const d1 = $( "#datepickerOd" );
    d1.datepicker({ firstDay: 1 });
    d1.datepicker("option", "dateFormat", "dd.mm.yy" );
    d1.datepicker("setDate", Date.now());
    const d2 = $( "#datepickerDo" );
    d2.datepicker({ firstDay: 1 });
    d2.datepicker("option", "dateFormat", "dd.mm.yy" );
    d2.datepicker("setDate", Date.now());
});


//spisak zaposlenih sa servera pa se od toga prave redovi za datatable
function GetEmployees() {
    $.ajax({
        url: '/employee/list',
        method: 'GET',
    }).done(function(json) {
        let employees;
        try {
            employees = $.parseJSON(json);
        } catch(e) {
            msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
            return;
        }  
        //loop
        let html = '';
        for (let i = 0; i < employees.length; i++) {
            const active = (employees[i].is_active == 1 ? '<i class="far fa-check-square"></i>' : '<i class="far fa-square"></i>');
            html += `
                <tr>
                    <td class="textcenter">${active}</td>
                    <td>${employees[i].forename}</td>
                    <td>${employees[i].surname}</td>
                    <td>${employees[i].address}</td>
                    <td>${employees[i].phone}</td>
                    <td>${employees[i].email}</td>
                    <td class="textcenter">
                        <a data-toggle="tooltip" title="Izveštaj" href="javascript:void(0)" onclick="Info(${employees[i].employee_id});return false;"><i class="fas fa-info-circle"></i></a>
                        <a data-toggle="tooltip" title="Izmeni" href="javascript:void(0)" onclick="Edit(${employees[i].employee_id});return false;"><i class="fas fa-pen-square"></i></a>
                        <a data-toggle="tooltip" title="Obriši" href="javascript:void(0)" onclick="Del(${employees[i].employee_id});return false;"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            `;
        }
        $('#employees_tbody').html(html);
        //tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});
    });
}


//izveštaj
function Info(id) {       
    $.ajax({
        url: '/employee/' + id,
        method: 'GET',
    }).done(function(json) {      
        try {
            employee = $.parseJSON(json)[0];
        } catch(e) {
            msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
            return;
        }  
        employee.id = id;
        $('#naslov2').html(employee.forename + ' ' + employee.surname);
        $('#infowindow').modal('show');        
    });   
}


//statistike sa vremenima
function GetOdDoStats() {
    //da li je izveštaj po danima ili po stavkama
    const poDanima = $('#statsPoDanima:checked').val() ? true : false;

    //konvertujemo datume u mysqlformat, šaljemo na server, posle vraćamo u naše datume
    $.ajax({
        url: '/employee/stats/' + employee.id,
        data: {
            'od': date2mysql($("#datepickerOd").val()),
            'do': date2mysql($("#datepickerDo").val()),
            'podanima': poDanima
        },  
        method: 'POST'
    }).done(function(json) {              
        try {
            const stats = $.parseJSON(json);

            //da li je izveštaj po danima ili po stavkama
            if (poDanima) {
                //header po danima
                const header = `
                    <tr>
                        <th>Datum</th>
                        <th>Vreme</th>
                    </tr>
                `;           
                $('#stats_thead').html(header);
                //stavke po danima
                let html = '';
                let totaltime = 0;
                for (i in stats) {
                    const datum = mysql2date(stats[i].clock_in_at);
                    const worktime = parseInt(stats[i].total_time);
                    totaltime += parseInt(worktime);
                    html += `
                        <tr>
                            <td>${datum}</td>
                            <td>${worktime.secToTime()}</td>
                        </tr>
                    `;
                }
                //total time (dodajemo zbir kao poslednji row)
                html += `
                        <tr>
                            <td>Ukupno vreme: </td>
                            <td>${totaltime.secToTime()}</td>
                        </tr>
                    `;
                $('#stats_tbody').html(html);
            } else {
                //header po stavkama
                const header = `
                    <tr>
                        <th>Ulaz</th>
                        <th>Izlaz</th>
                        <th>Vreme</th>
                    </tr>
                `;           
                $('#stats_thead').html(header);
                //stavke po stavkama
                let html = '';
                let totaltime = 0;
                for (i in stats) {
                    const in_at = mysql2date(stats[i].clock_in_at);
                    const out_at = mysql2date(stats[i].clock_out_at);
                    const worktime = parseInt(stats[i].total_time);
                    totaltime += parseInt(worktime);
                    html += `
                        <tr>
                            <td>${in_at}</td>
                            <td>${out_at}</td>
                            <td>${worktime.secToTime()}</td>
                        </tr>
                    `;
                }
                //total time (dodajemo zbir kao poslednji row)
                html += `
                        <tr>
                            <td></td>
                            <td>Ukupno vreme: </td>
                            <td>${totaltime.secToTime()}</td>
                        </tr>
                    `;
                $('#stats_tbody').html(html);
            }            
        } catch(e) {
            msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
            return;
        }        
    });   
}

//štampanje izveštaja
function PrintOdDoStats() {
    var title=document.getElementById("naslov2").innerHTML;
    var divToPrint=document.getElementById("stats_table");
    var htmlToPrint = `
        <h1>${title}</h1>
        <p>${$("#datepickerOd").val()} - ${$("#datepickerDo").val()}</p>
        <br>
        <style type="text/css">
            table {
                width: 100%;
            }
            table th, table td {
                border: 1px solid lightgray;
                padding: 10px;
                text-align: center;
            }
        </style>
    `;
    htmlToPrint += divToPrint.outerHTML;
    newWin=window.open('');
    newWin.document.write(htmlToPrint);
    newWin.print();
    newWin.close();
}




//novi zaposleni
function New(id) {
    $('#naslov').html('Novi zaposleni');
    $('#detailwindow').modal('show');
}

//izmena zaposlenog
function Edit(id) {
    //podaci zaposlenog
    $.ajax({
        url: '/employee/' + id,
        method: 'GET',
    }).done(function(json) {      
        try {
            employee = $.parseJSON(json)[0];
        } catch(e) {
            msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
            return;
        }  
        array2form(employee, '#podaciform');
        employee.id = id;
        $('#naslov').html(employee.forename + ' ' + employee.surname);
        $('#detailwindow').modal('show');        
    });   
    //kartice zaposlenog
    $.ajax({
        url: '/card/list/' + id,
        method: 'GET',
    }).done(function(json) {                       
        try {
            cards = $.parseJSON(json);
        } catch(e) {
            console.log(json);
            const status = $("#status");
            status.html('Problem sa čitanjem kartica...');
            status.show();
            return;
        }  
        KarticeRefresh();
        //tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});           
    });     
}


//pisak kartica zaposlenog
function KarticeRefresh() {
    //generiše table row stavke na osnovu niza "cards"
    let html = '';
    for (id in cards) {
        const active = (cards[id].is_active == 1 ? '<i class="far fa-check-square"></i>' : '<i class="far fa-square"></i>');
        html += `
            <tr>
                <td>${cards[id].barcode}</td>
                <td class="textcenter">${active}</td>
                <td class="textcenter">
                    <a data-toggle="tooltip" title="Obriši" href="javascript:void(0)" onclick="DelCard(${id});return false;"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        `;
    }
    $('#cards_tbody').html(html);
}


//snimanje podataka za zapodlenog i njegovih kartica
function SnimiIzmene() {
    //client validacija imena
    const forename = $('#forename');
    if (forename.val().length < 1) {
        $('.nav-tabs a[href="#podaci"]').tab('show');
        setTimeout(function(){ 
            tooltip(forename, 'Ime mora da se popuni');
        }, 500);
        return;
    }

    //client validacija emaila
    const email = $('#email');
    if (email.val().length < 1) {
        $('.nav-tabs a[href="#podaci"]').tab('show');
        setTimeout(function(){ 
            tooltip(email, 'Email mora da se popuni')
        }, 500);
        
        return;
    }

    //na server šaljemo podatke i kartice od zaposlenog (edit/new)
    const podaci = form2array('#podaciform');
    $.ajax({
        url: (employee.id ? '/employee/'+employee.id : '/employee/'),
        method: (employee.id ? 'PUT' : 'POST'),
        data: {
            'podaci': JSON.stringify(podaci),
            'kartice': JSON.stringify(cards)
        }        
    }).done(function(err) {               
        if (err) {
            console.log(err);
            msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
            return;
        }
        $('#detailwindow').modal('hide');   
        //re-load list
        GetEmployees();                
    });    
}


//brisanje zaposlenog
function Del(id) {
    $.when( yesno(" Obriši zaposlenog? ", "Potvrda")).then(function(status) {if (status == "Da") { 
        $.ajax({
            url: '/employee/' + id,
            method: 'DELETE'
        }).done(function(err) { 
            if (err) {
                console.log(err);
                msgbox('Ne može se brisati, postoje vezane stavke.', 'Greška');
                return;
            } 
            //re-load list
            GetEmployees();                 
        }); 
    }})
}


//dodavanje nove kartice
function AddCard() {
    const input = $('#NewCard');
    const barcode = input.val();

    //validacija
    if (barcode.length != 13) {
        tooltip(input, 'Barkod mora sadržati 13 brojeva');
        return;
    }

    //validacija
    if (isNaN(barcode)) {
        tooltip(input, 'Dozvoljeni su samo brojevi');
        return;
    }

    //provera da li već postoji u lokalu
    for (i in cards) {
        if (cards[i].barcode == barcode) {
            tooltip(input, 'Već postoji kartica sa istim barkodom');
            return;
        }       
    }

    //provera da li već postoji na serveru
    $.ajax({
        url: '/card/newcheck/' + barcode,
        method: 'GET'
    }).done(function(msg) { 
        if (msg === 'true') {
            tooltip(input, 'Već postoji kartica sa istim barkodom');
            return;
        }         
        //add to list
        cards[Math.random()] = {
            employee_id: employee.id,
            barcode: barcode,
            is_active: 1
        }
        KarticeRefresh();
        input.val('');
    }); 
        
}

//brisanje kartice
function DelCard(id) {

    //provera da li je korišćena
    $.ajax({
        url: '/card/deletecheck/' + id,
        method: 'GET'
    }).done(function(msg) { 
        if (msg === 'true') {
            msgbox('Kartica je korišćena. Ne može se brisati.', 'Greška');
            return;
        }    
        //yes no pitanje     
        $.when( yesno(" Obriši karticu? ", "Potvrda")).then(function(status) {if (status == "Da") { 
            delete cards[id];
            KarticeRefresh();
        }})
    }); 
    
}



//clear form on dialog close
$(document).on('hidden.bs.modal','#detailwindow', function () {
    $('#detailwindow input, #detailwindow select, #detailwindow textarea').each(function() {
        $(this).val('');
    });
    $('#detailwindow input:checkbox').each(function() {
        $(this).prop('checked', false);
    });
    //clear employee
    employee = {};
    //clear cards
    $('#cards_tbody').html('');
    cards = {};
    //clear status
    $("#status").hide();
    //set active tab podaci
    $('.nav-tabs a[href="#podaci"]').tab('show');
})

//clear stats on dialog close
$(document).on('hidden.bs.modal','#infowindow', function () {
    $("#stats_thead").html('');
    $("#stats_tbody").html('');
})

</script>{% endblock %}
