﻿{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h2 class="text-center login-title">Admin panel login</h2>
            <h6 class="text-center">(admin/admin)</h6>
            <div class="account-wall">
                <form class="form-signin">
                    <input type="hidden" name="akcija" value="login" />
                    <div class="form-group form-check">
                        <input id="username" class="form-control" type="text" name="username" placeholder="Username" value=""/>
                    </div>
                    <div class="form-group form-check">
                        <input id="password" class="form-control" type="password" name="password" placeholder="Password" value=""/>
                    </div>
                    <div class="form-group form-check">
                        <button class="btn btn-primary" onclick="CheckLogin();return false;">Login</button>
                    </div>
                    <div class="form-group form-check">
                        <div id="status" class="alert alert-danger hidden" role="alert">                            
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>



<script>

$(function() {
    //menu item select
    $('#navbars li').removeClass('active');
    $('#navlogin').addClass('active');
});



function CheckLogin() {
    
    //client validacija imena
    const username = $('#username');
    if (username.val().length < 1) {
        tooltip(username, 'Ne može da bude prazno');
        return;
    }

    //client validacija lozinke
    const password = $('#password');
    if (password.val().length < 1) {
        tooltip(password, 'Ne može da bude prazno');
        return;
    }


    $.ajax({
        url: '/user/checkuser',
        method: 'POST',
        data: {
            'username': username.val(),
            'password': password.val()
        }
    }).done(function(msg) {
        if (msg) {
            window.location.href = "/admin";
        } else {
            //fail
            const status = $("#status");
            status.html('Neuspešan login. Pokušajte ponovo.');
            status.fadeIn(500);
            setTimeout(function(){ status.fadeOut() }, 3000);
        }        
    });
}

</script>
{% endblock %}
