{% extends "_global/index.html" %}

{% block main %}
<div class="container justify-content-center">

    <!-- Sat i nevidljivi input -->
    <strong><h1 id="timer" class="display-1"></h1></strong>
    <input type="number" class="ui-hidden-accessible" id="input" autofocus>

    <!-- Info poruka koja se pojavljuje kad se neko čekira -->
    <div id="info" class="card mb-3 shadow-sm rounded checkinfo">
        <div class="card-header">
            <h4 class="card-text"><strong><span id="status"></span></strong><i id="ico" class="floatright"></i></h4>                    
        </div>
        <div class="card-body">    
            <p class="card-text"><strong>Zaposleni:</strong> <span id="name"></span></p> 
            <hr> 
            <p class="card-text"><strong>Card ID:</strong> <span id="barcode"></span></p>
            <p class="card-text"><strong>Vreme:</strong> <span id="time"></span></p>
        </div>
    </div>
</div>


<script>

//on page load
$(function() {
    //menu item select
    $('#navbars li').removeClass('active');
    $('#navhome').addClass('active');

    startTime();

    //invisible input
    const input = $("#input");
    const timer = $("#timer");
    input.focus();
    input.on('keyup', function (e) {
        if (e.keyCode == 13) {
            const barcode = input.val();
            const time = timer.html();
            input.val('');
            Check(barcode, time);
        }
    });
});

//focus on input if lost
$(document).on('click','html',function(event){
    $('#input').focus();                           
});

function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    h = checkTime(h);
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('timer').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 1000);
}

function checkTime(i) {
    if (i < 10) {i = "0" + i};  // dodaje nulu ispred brojeva < 10
    return i;
}

//prijava-odjava
function Check(barcode, time) {
    $.ajax({
        url: '/check',
        method: 'POST',
        data: {
            'barcode': barcode,
            'time': currentDateTime()
        },
    }).done(function(msg) {
        const status = $("#status");
        const ico = $("#ico");
        const name = $("#name");
        if (msg) {
            //kartica postoji
            let res;
            try {
                res = $.parseJSON(msg);
            } catch(e) {
                console.log(msg);
                msgbox('Ups! Nešto je pošlo naopako.', 'Greška');
                return;
            }                
            if (res.checkin) {
                status.html('Ulaz');
                ico.attr('class', 'fas fa-sign-in-alt');
            } else {
                status.html('Izlaz');
                ico.attr('class', 'fas fa-sign-out-alt');
            }
            name.html(res.forename + " " + res.surname);
        } else {
            //kartica ne postoji
            status.html('Nepoznata kartica');
            ico.attr('class', 'fas fa-exclamation-triangle');
            name.html("-");
        }  
        //show info
        const info = $("#info");
        $('#barcode').html(barcode);
        $('#time').html(time);
        if (false == $(info).is(':visible')) {
            $(info).fadeIn(500);
            setTimeout(function(){ $(info).fadeOut() }, 3000);
        } else {
            $(info).fadeOut(1000);
        }      
    });
}

</script>
{% endblock %}
