/* ajax spinning loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left : -50px;
    margin-top : -50px;
    z-index: 9000;
    display: none;
}
@keyframes spin { 
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


/* nevidljiv input */
.ui-hidden-accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}



/* stats table (izveštaj) */
.statstable tbody {
    display:block;
    height:250px;
    overflow:auto;
}
.statstable thead, .statstable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.statstable thead {
    height:51px;
    width: calc( 100% - 1em )
}
.statstable th, .statstable tr {
    text-align: center;
}


.checkinfo {
    width: 21rem; 
    margin-top: 20px; 
    display: none
}

.floatright {
    float: right;
}

.hidden {
    display: none
}

.actionicons {
    float:right; 
    margin-right:20px;
}

.overflow {
    overflow: auto;
}

.textcenter {
    text-align: center;
}

.actions50 {
    text-align: center; 
    min-width:50px;
}

.actions80 {
    text-align: center; 
    min-width:80px;
}

.bottom10 {
    margin-bottom:10px;
}

.left20 {
    margin-left:20px;
}