<!DOCTYPE html>
<html>

<head>
    <title>ERV - Evidencija radnog vremena</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ BASE }}favicon.ico" type="image/x-icon">

            
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>    
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ BASE }}assets/css/bootstrap.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    

    <!-- fontawesome.com -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    <script src="{{ BASE }}assets/js/main.js"></script>
</head>

<body>

<!-- Navigacija -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ BASE }}">E.R.V.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
            <li id="navhome" class="nav-item active">
                <a class="nav-link" href="{{ BASE }}">Unos <span class="sr-only">(current)</span></a>
            </li>
            <?php if(isset($_SESSION["loggedin"]) && $_SESSION["loggedin"] == true) { ?>
                <li id="navadmin" class="nav-item">
                    <a class="nav-link" href="{{ BASE }}/views/admin">Admin</a>
                </li>  
            <?php } ?>      
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <?php if(isset($_SESSION["loggedin"]) && $_SESSION["loggedin"] == true) { ?>
                <li id="navlogin" class="nav-item">
                    <a class="nav-link" href="{{ BASE }}/views/login/logout">Logout</a>
                </li>
            <?php } else {?>
                <li id="navlogin" class="nav-item">
                    <a class="nav-link" href="{{ BASE }}/views/login">Login</a>
                </li>
            <?php } ?>
        </ul>
    </div>
</nav>

<div class='loader'></div>

		<main role="main" class="container">

    <!-- ovde ide glavni sadžaj koji dolazi od viewova, posle se zatvara sa footerom -->
    
            {% block main %}
            {% endblock %}
            
        </main>
        
        <footer class="footer">
    		<div class="container">
        		<span class="text-muted">&copy; 2018 - Joviša Đurković</span>
    		</div>
		</footer>
        
    </body>
</html>
